.GetStarted_main {
  padding: 40px 175px;
}
.GetStarted_content {
  /* w-[50%] py-36 pl-16 */
  width: 55%;
  padding: 156px 0px 156px 77px;
}
.GetStarted_content h1 {
  flex-wrap: nowrap;
  white-space: nowrap;
  font-size: 48px;
}

.GetStarted_Uifry_grandiant {
  position: absolute;
  z-index: 0;
  left: 3%;
  bottom: 15%;
  width: 21%;
}
.GetStarted_blackBox {
  position: relative;
  z-index: 2;
}
.GetStatred_mobilePhones {
  position: absolute;
  width: 44%;
  right: 0%;
  top: 5%;
  z-index: 3;
}
.GetStarted_phones_Bg_grandiant {
  position: absolute;
  width: 34%;
  right: 0%;
  top: 32%;
}
.getStarted_star7 {
  position: absolute;
  bottom: 76%;
  right: -27%;
  z-index: 10;
}
.GetStarted_star6 {
  position: absolute;
  bottom: 23%;
  right: 17%;
  z-index: 10;
}
@media (max-width: 1280px) {
  .GetStarted_main {
    max-width: 1280px;
    padding: 35px 7%;
  }
  .GetStarted_content {
    /* w-[50%] py-36 pl-16 */
    width: 54%;
    padding: 130px 0px 130px 50px;
  }
  .GetStarted_content h1 {
    flex-wrap: nowrap;
    white-space: nowrap;
    font-size: 45px;
    z-index: 10;
  }

  .GetStarted_Uifry_grandiant {
    position: absolute;
    z-index: 0;
    left: -1%;
    bottom: 14%;
    width: 21%;
  }
  .GetStarted_blackBox {
    position: relative;
    z-index: 2;
  }
  .GetStatred_mobilePhones {
    position: absolute;
    width: 473px;
    right: 0%;
    top: 5%;
    z-index: 3;
  }
  .GetStarted_phones_Bg_grandiant {
    position: absolute;
    width: 30%;
    right: 0%;
    top: 42%;
  }
  .getStarted_star7 {
    position: absolute;
    bottom: 76%;
    right: -27%;
    z-index: 10;
  }
  .GetStarted_star6 {
    position: absolute;
    bottom: 23%;
    right: 17%;
    z-index: 10;
  }
}
@media (max-width: 1024px) {
  .GetStarted_main {
    max-width: 1024px;
    padding: 20px 3%;
  }
  .GetStarted_content {
    /* w-[50%] py-36 pl-16 */
    width: 54%;
    padding: 100px 0px 100px 50px;
  }
  .GetStarted_content h1 {
    flex-wrap: nowrap;
    white-space: nowrap;
    font-size: 43px;
    z-index: 10;
  }

  .GetStarted_Uifry_grandiant {
    position: absolute;
    z-index: 0;
    left: -4%;
    bottom: 12%;
    width: 21%;
  }
  .GetStarted_blackBox {
    position: relative;
    z-index: 2;
  }
  .GetStatred_mobilePhones {
    position: absolute;
    width: 43%;
    right: 0%;
    top: 5%;
    z-index: 3;
  }
  .GetStarted_phones_Bg_grandiant {
    position: absolute;
    width: 30%;
    right: 0%;
    top: 42%;
  }
  .getStarted_star7 {
    position: absolute;
    bottom: 76%;
    right: -27%;
    z-index: 10;
  }
  .GetStarted_star6 {
    position: absolute;
    bottom: 23%;
    right: 17%;
    z-index: 10;
  }
}
@media (max-width: 854px) {
  .GetStarted_main {
    max-width: 854px;
    padding: 20px 4%;
  }
  .GetStarted_content {
    /* w-[50%] py-36 pl-16 */
    width: 54%;
    padding: 80px 0px 80px 30px;
  }
  .GetStarted_content h1 {
    flex-wrap: wrap;
    white-space: wrap;
    font-size: 40px;
    z-index: 10;
    line-height: 42px;
  }

  .GetStarted_Uifry_grandiant {
    position: absolute;
    z-index: 0;
    left: -4%;
    bottom: 12%;
    width: 25%;
  }
  .GetStarted_blackBox {
    position: relative;
    z-index: 2;
  }
  .GetStatred_mobilePhones {
    position: absolute;
    width: 47%;
    right: 0%;
    top: 5%;
    z-index: 3;
  }
  .GetStarted_phones_Bg_grandiant {
    position: absolute;
    width: 30%;
    right: 0%;
    top: 42%;
  }
  .getStarted_star7 {
    position: absolute;
    bottom: 76%;
    right: -27%;
    z-index: 10;
  }
  .GetStarted_star6 {
    position: absolute;
    bottom: 23%;
    right: 17%;
    z-index: 10;
  }
}
@media (max-width: 768px) {
  .GetStarted_main {
    max-width: 768px;
    padding: 20px 4%;
  }
  .GetStarted_content {
    /* w-[50%] py-36 pl-16 */
    width: 80%;
    padding: 50px 0px 50px 16px;
  }
  .GetStarted_content h1 {
    flex-wrap: wrap;
    white-space: wrap;
    font-size: 40px;
    z-index: 10;
    line-height: 42px;
  }

  .GetStarted_Uifry_grandiant {
    position: absolute;
    z-index: 0;
    left: -5%;
    bottom: 12%;
    width: 30%;
  }
  .GetStarted_blackBox {
    position: relative;
    z-index: 2;
    display: grid;
    flex-direction: column;
    align-items: center;
  }
  .GetStatred_mobilePhones {
    position: relative;
    width: 100%;
    right: 0%;
    top: 5%;
    z-index: 3;
  }
  .GetStarted_phones_Bg_grandiant {
    position: absolute;
    width: 46%;
    left: 36%;
    top: 63%;
  }
  .getStarted_star7 {
    position: absolute;
    bottom: 78%;
    left: -7%;
    z-index: 10;
  }
  .GetStarted_star6 {
    position: absolute;
    bottom: 23%;
    right: 17%;
    z-index: 10;
  }
  .GetStarted_bgTri_circle_right {
    position: absolute;
    top: 0%;
  }
  .GetStarted_bgTri_circle_left {
    position: absolute;
    bottom: 0%;
    left: 0%;
  }
}
@media (max-width: 760px) {
  .GetStarted_Uifry_grandiant {
    position: absolute;
    z-index: 0;
    left: -7%;
    bottom: 16%;
    width: 235px;
  }
}
@media (max-width: 425px) {
  .GetStarted_main {
    max-width: 425px;
    padding: 20px 4%;
  }
  .GetStarted_content {
    /* w-[50%] py-36 pl-16 */
    width: 100%;
    padding: 50px 0px 30px 16px;
  }
  .GetStarted_content h1 {
    flex-wrap: wrap;
    white-space: wrap;
    font-size: 37px;
    z-index: 10;
    line-height: 41px;
  }

  .GetStarted_Uifry_grandiant {
    position: absolute;
    z-index: 0;
    left: -10%;
    bottom: 15%;
    width: 60%;
  }
  .GetStarted_blackBox {
    position: relative;
    z-index: 2;
    display: grid;
    flex-direction: column;
    align-items: center;
  }
  .GetStatred_mobilePhones {
    position: relative;
    width: 100%;
    right: 0%;
    top: 5%;
    z-index: 3;
  }
  .GetStarted_phones_Bg_grandiant {
    position: absolute;
    width: 61%;
    left: 30%;
    top: 72%;
  }
  .getStarted_star7 {
    position: absolute;
    bottom: 79%;
    left: 3%;
    z-index: 10;
  }
  .GetStarted_star6 {
    position: absolute;
    bottom: 16%;
    right: 10%;
    z-index: 10;
  }
  .GetStarted_bgTri_circle_right {
    position: absolute;
    top: 0%;
  }
  .GetStarted_bgTri_circle_left {
    position: absolute;
    bottom: 0%;
    left: 0%;
  }
}
