.hero_section_main {
  display: flex;
  height: auto;
  max-width: 1440px;
  height: 900px;
}
.hero_section_content {
  margin-left: 20px;
}
.heroSection_text_bg {
  position: relative;
  bottom: 25%;
  left: 13%;
}
.heroSection_text_bg h2 {
  font-size: 64px;
  width: 70%;
  line-height: 64px;
  font-weight: 700;
}
.heroSection_GetStarted {
  position: relative;
  display: flex;
  align-items: center;
  gap: 6%;
  left: 13%;
  width: 375px;
  bottom: 22%;
}

.hero_section_mobileOrder_start01 {
  position: relative;
  left: 82%;
  bottom: 2%;
}
.heroSection_tamImg_rightSide_start {
  position: relative;
  left: 24%;
  bottom: 12%;
  z-index: 10;
}
.heroSection_tamImg_leftSide_start {
  position: relative;
  right: 13%;
  bottom: 14%;
  z-index: 10;
}
.hroSection_TapImg {
  width: 569px;
  position: relative;
  bottom: 21%;
  left: 12%;
}
.heroSection_bgGrandient_img {
  width: auto;
  position: relative;
  left: 32%;
  bottom: 6%;
  z-index: 0;
}
.hero_section_mobileOrder {
  position: relative;
}
.heroSection_Mobile_imgsFlex {
  display: flex;
  position: absolute;
  top: 18%;
  right: 40%;
}
.heroSection_mobile_img_01 {
  position: absolute;
  right: 50%;
  z-index: 3;
  bottom: 28%;
}
.heroSection_mobile_img_02 {
  position: absolute;
  right: 14%;
  z-index: 2;
  bottom: 14%;
}
.heroSection_mobile_img_03 {
  position: relative;
  left: 18%;
  bottom: 7%;
  z-index: 1;
}
.hero_section_circleBg {
  position: relative;
  right: 20%;
  bottom: 5%;
}
.heroSection_mobileBg_GrandiantImg {
  position: absolute;
  bottom: 22%;
  right: 39%;
  z-index: 0;
  width: auto;
}
@media (max-width: 1366px) {
  .hero_section_main {
    display: flex;
    height: auto;
    max-width: 1366px;
    height: auto;
  }
  .hero_section_content {
    margin-left: 0px;
  }
  .heroSection_text_bg {
    position: relative;
    bottom: 29%;
    left: 13%;
  }
  .heroSection_text_bg h2 {
    font-size: 58px;
    width: 80%;
    line-height: 64px;
    font-weight: 700;
  }
  .heroSection_GetStarted {
    position: relative;
    display: flex;
    gap: 6%;
    left: 13%;
    width: 375px;
    bottom: 26%;
  }

  .hero_section_mobileOrder_start01 {
    position: relative;
    left: 82%;
    bottom: 0%;
  }
  .hroSection_TapImg {
    width: 534px;
    position: relative;
    bottom: 30%;
    left: 12%;
  }
  .heroSection_tamImg_rightSide_start {
    position: relative;
    left: 27%;
    bottom: 21%;
  }
  .heroSection_tamImg_leftSide_start {
    position: relative;
    right: -1%;
    bottom: 21%;
    z-index: 10;
  }
  .heroSection_bgGrandient_img {
    width: auto;
    position: relative;
    left: 29%;
    bottom: 10%;
  }
  .hero_section_mobileOrder {
    position: relative;
    right: 1%;
  }
  .heroSection_Mobile_imgsFlex {
    display: flex;
    position: absolute;
    top: 10%;
    right: 49%;
  }
  .heroSection_mobile_img_01 {
    position: absolute;
    right: 20%;
    z-index: 3;
    bottom: 27%;
  }
  .heroSection_mobile_img_02 {
    position: absolute;
    left: 13%;
    z-index: 2;
    bottom: 11%;
  }
  .heroSection_mobile_img_03 {
    position: relative;
    left: 45%;
    bottom: 7%;
    z-index: 1;
  }
  .hero_section_circleBg {
    position: relative;
    right: 11%;
    top: -11%;
  }
  .heroSection_mobileBg_GrandiantImg {
    position: absolute;
    bottom: 41%;
    right: 25%;
    z-index: 0;
  }
}
@media (max-width: 1280px) {
  .hero_section_main {
    display: flex;
    height: auto;
    max-width: 1280px;
    height: 700px;
  }
  .hero_section_content {
    position: relative;
    left: 0%;
  }
  .heroSection_text_bg {
    position: relative;
    bottom: 37%;
    left: 13%;
  }
  .heroSection_text_bg h2 {
    font-size: 50px;
    width: 80%;
    line-height: 64px;

    font-weight: 700;
  }
  .heroSection_text_bg p {
    font-size: 14px !important;
    width: 495px;
    margin-top: 10px;
  }
  .heroSection_GetStarted {
    position: relative;
    display: flex;
    gap: 6%;
    left: 13%;
    width: 375px;
    bottom: 34%;
  }

  .hero_section_mobileOrder_start01 {
    position: relative;
    left: 88%;
    bottom: 0%;
  }
  .hroSection_TapImg {
    width: 398px;
    position: relative;
    bottom: 33%;
    left: 12%;
  }
  .heroSection_tamImg_rightSide_start {
    position: relative;
    left: 31%;
    bottom: 27%;
  }
  .heroSection_tamImg_leftSide_start {
    position: relative;
    right: -1%;
    bottom: 29%;
    z-index: 10;
  }
  .heroSection_bgGrandient_img {
    width: auto;
    position: relative;
    left: 26%;
    bottom: 13%;
  }
  .hero_section_mobileOrder {
    position: relative;
  }
  .heroSection_Mobile_imgsFlex {
    display: flex;
    position: absolute;
    top: 16%;
    left: 9;
  }
  .heroSection_mobile_img_01 {
    position: absolute;
    right: 4%;
    z-index: 3;
    bottom: 26%;
    width: 315px;
  }
  .heroSection_mobile_img_02 {
    position: absolute;
    left: 31%;
    z-index: 2;
    bottom: 11%;
    width: 315px;
  }
  .heroSection_mobile_img_03 {
    position: relative;
    left: 61%;
    bottom: 7%;
    z-index: 1;
    width: 315px;
  }
  .hero_section_circleBg {
    position: relative;
    right: 5%;
    top: -17%;
  }
  .heroSection_mobileBg_GrandiantImg {
    position: absolute;
    bottom: 15%;
    right: 17%;
    z-index: 0;
    width: auto;
  }
}

@media (max-width: 1024px) {
  .hero_section_main {
    display: flex;
    height: auto;
    max-width: 1024px;
    height: 720px;
  }
  .hero_section_content {
    position: relative;
    left: -2%;
  }
  .heroSection_text_bg {
    position: relative;
    bottom: 37%;
    left: 13%;
  }
  .heroSection_text_bg h2 {
    font-size: 46px;
    width: 80%;
    line-height: 64px;
    font-weight: 700;
  }
  .heroSection_text_bg p {
    font-size: 14px !important;
    width: 495px;
    margin-top: 10px;
  }
  .heroSection_GetStarted {
    position: relative;
    display: flex;
    gap: 6%;
    left: 13%;
    width: 375px;
    bottom: 34%;
  }

  .hero_section_mobileOrder_start01 {
    position: relative;
    left: 82%;
    bottom: 0%;
  }
  .hroSection_TapImg {
    width: 398px;
    position: relative;
    bottom: 33%;
    left: 12%;
  }
  .heroSection_tamImg_rightSide_start {
    position: relative;
    left: 38%;
    bottom: 28%;
  }
  .heroSection_tamImg_leftSide_start {
    position: relative;
    right: -7%;
    bottom: 21%;
    z-index: 10;
  }
  .heroSection_bgGrandient_img {
    width: auto;
    position: relative;
    left: 26%;
    bottom: 13%;
  }
  .hero_section_mobileOrder {
    position: relative;
  }
  .heroSection_Mobile_imgsFlex {
    display: flex;
    position: absolute;
    top: 16%;
    left: 9;
  }
  .heroSection_mobile_img_01 {
    position: absolute;
    right: 4%;
    z-index: 3;
    bottom: 26%;
    width: 260px;
  }
  .heroSection_mobile_img_02 {
    position: absolute;
    left: 31%;
    z-index: 2;
    bottom: 11%;
    width: 260px;
  }
  .heroSection_mobile_img_03 {
    position: relative;
    left: 61%;
    bottom: 7%;
    z-index: 1;
    width: 260px;
  }
  .hero_section_circleBg {
    position: relative;
    right: 2%;
    top: -13%;
  }
  .heroSection_mobileBg_GrandiantImg {
    position: absolute;
    bottom: 27%;
    right: 29%;
    z-index: 0;
    width: 250px;
  }
}
@media (max-width: 960px) {
  .hero_section_main {
    display: flex;
    height: 640px;
    max-width: 960px;
  }
  .hero_section_content {
    position: relative;
    left: -5%;
  }
  .heroSection_text_bg {
    position: relative;
    bottom: 37%;
    left: 13%;
  }
  .heroSection_text_bg h2 {
    font-size: 44px;
    width: auto;
    line-height: 52px;
    letter-spacing: 0;
    font-weight: 700;
  }
  .heroSection_text_bg p {
    font-size: 14px !important;
    width: 492px;
    margin-top: 10px;
  }
  .heroSection_GetStarted {
    position: relative;
    display: flex;
    gap: 6%;
    left: 13%;
    width: 375px;
    bottom: 34%;
  }

  .hero_section_mobileOrder_start01 {
    position: relative;
    left: 82%;
    bottom: 0%;
  }
  .hroSection_TapImg {
    width: 383px;
    position: relative;
    bottom: 40%;
    left: 16%;
  }
  .heroSection_tamImg_rightSide_start {
    position: relative;
    left: 38%;
    bottom: 28%;
  }
  .heroSection_tamImg_leftSide_start {
    position: relative;
    right: -7%;
    bottom: 15%;
    z-index: 10;
  }
  .heroSection_bgGrandient_img {
    width: auto;
    position: relative;
    left: 26%;
    bottom: 13%;
  }
  .hero_section_mobileOrder {
    position: relative;
  }
  .heroSection_Mobile_imgsFlex {
    display: flex;
    position: absolute;
    top: 24%;
    right: 40%;
  }
  .heroSection_mobile_img_01 {
    position: absolute;
    right: 4%;
    z-index: 3;
    bottom: 26%;
    width: 260px;
  }
  .heroSection_mobile_img_02 {
    position: absolute;
    left: 31%;
    z-index: 2;
    bottom: 11%;
    width: 260px;
  }
  .heroSection_mobile_img_03 {
    position: relative;
    left: 61%;
    bottom: 7%;
    z-index: 1;
    width: 260px;
  }
  .hero_section_circleBg {
    position: relative;
    right: -2%;
    top: -6%;
  }
  .heroSection_mobileBg_GrandiantImg {
    position: absolute;
    bottom: 9%;
    right: 24%;
    z-index: 0;
    width: 242px;
  }
}
@media (max-width: 854px) {
  .hero_section_main {
    display: flex;
    height: 640px;
    max-width: 854px;
  }
  .hero_section_content {
    position: relative;
    left: -5%;
  }
  .heroSection_text_bg {
    position: relative;
    bottom: 37%;
    left: 13%;
  }
  .heroSection_text_bg h2 {
    font-size: 37px;
    width: 390px;
    line-height: 45px;
    font-weight: 700;
  }
  .heroSection_text_bg p {
    font-size: 14px !important;
    width: 430px;
    margin-top: 10px;
  }
  .heroSection_GetStarted {
    position: relative;
    display: flex;
    gap: 6%;
    left: 13%;
    width: 375px;
    bottom: 34%;
  }

  .hero_section_mobileOrder_start01 {
    position: relative;
    left: 82%;
    bottom: 0%;
  }
  .hroSection_TapImg {
    width: 383px;
    position: relative;
    bottom: 33%;
    left: 13%;
  }
  .heroSection_tamImg_rightSide_start {
    position: relative;
    left: 38%;
    bottom: 28%;
  }
  .heroSection_tamImg_leftSide_start {
    position: relative;
    right: -15%;
    bottom: 5%;
    z-index: 10;
  }
  .heroSection_bgGrandient_img {
    width: auto;
    position: relative;
    left: 20%;
    bottom: 13%;
  }
  .hero_section_mobileOrder {
    position: relative;
  }
  .heroSection_Mobile_imgsFlex {
    display: flex;
    position: absolute;
    top: 27%;
    left: 8%;
  }
  .heroSection_mobile_img_01 {
    position: absolute;
    right: 18%;
    z-index: 3;
    bottom: 24%;
    width: 230px;
  }
  .heroSection_mobile_img_02 {
    position: absolute;
    left: 18%;
    z-index: 2;
    bottom: 11%;
    width: 230px;
  }
  .heroSection_mobile_img_03 {
    position: relative;
    left: 49%;
    bottom: 7%;
    z-index: 1;
    width: 230px;
  }
  .hero_section_circleBg {
    position: relative;
    right: -6%;
    top: -1%;
  }
  .heroSection_mobileBg_GrandiantImg {
    position: absolute;
    bottom: 14%;
    right: 20%;
    z-index: 0;
    width: 265px;
  }
}
@media (max-width: 768px) {
  .hero_section_main {
    display: grid;
    /* flex-direction: column; */
    /* align-items: center; */
    height: 1200px;
    max-width: 768px;
  }
  .hero_section_content {
    position: relative;
    left: -5%;
  }
  .heroSection_text_bg {
    position: relative;
    bottom: 37%;
    left: 13%;
    width: 90%;
  }
  .heroSection_text_bg h2 {
    font-size: 44px;
    width: auto;
    line-height: 55px;
    font-weight: 700;
  }
  .heroSection_text_bg p {
    font-size: 14px !important;
    width: 472px;
    margin-top: 10px;
  }
  .heroSection_GetStarted {
    position: relative;
    display: flex;
    gap: 6%;
    left: 13%;
    width: 375px;
    bottom: 34%;
  }

  .hero_section_mobileOrder_start01 {
    position: relative;
    left: 89%;
    bottom: 108%;
  }
  .hroSection_TapImg {
    width: 396px;
    position: relative;
    bottom: 33%;
    left: 22%;
  }
  .heroSection_tamImg_rightSide_start {
    position: relative;
    left: 38%;
    bottom: 28%;
  }
  .heroSection_tamImg_leftSide_start {
    position: relative;
    right: -27%;
    bottom: 68%;
    z-index: 10;
  }
  .heroSection_bgGrandient_img {
    width: auto;
    position: relative;
    left: 21%;
    bottom: 11%;
  }
  .hero_section_mobileOrder {
    position: relative;
  }
  .heroSection_Mobile_imgsFlex {
    display: flex;
    position: absolute;
    top: -22%;
    right: 41%;
  }
  .heroSection_mobile_img_01 {
    position: absolute;
    right: 14%;
    z-index: 3;
    bottom: 25%;
    width: 260px;
  }
  .heroSection_mobile_img_02 {
    position: absolute;
    left: 44%;
    z-index: 2;
    bottom: 11%;
    width: 260px;
  }
  .heroSection_mobile_img_03 {
    position: relative;
    left: 66%;
    bottom: 7%;
    z-index: 1;
    width: 260px;
  }
  .hero_section_circleBg {
    position: relative;
    right: -16%;
    top: -53%;
    width: 510px;
  }
  .heroSection_mobileBg_GrandiantImg {
    position: absolute;
    bottom: 58%;
    right: 35%;
    z-index: 0;
    width: 265px;
  }
}
@media (max-width: 640px) {
  .hero_section_main {
    display: grid;
    /* flex-direction: column; */
    /* align-items: center; */
    height: 1150px;
    max-width: 640px;
  }
  .hero_section_content {
    position: relative;
    left: -5%;
  }
  .heroSection_text_bg {
    position: relative;
    bottom: 37%;
    left: 8%;
    width: 97%;
  }
  .heroSection_text_bg h2 {
    font-size: 42px;
    width: auto;
    line-height: 50px;
    font-weight: 700;
  }
  .heroSection_text_bg p {
    font-size: 14px !important;
    width: 472px;
    margin-top: 10px;
  }
  .heroSection_GetStarted {
    position: relative;
    display: flex;
    gap: 6%;
    left: 8%;
    width: 375px;
    bottom: 34%;
  }

  .hero_section_mobileOrder_start01 {
    position: relative;
    left: 80%;
    bottom: 108%;
  }
  .hroSection_TapImg {
    width: 392px;
    position: relative;
    bottom: 33%;
    left: 21%;
  }
  .heroSection_tamImg_rightSide_start {
    position: relative;
    left: 38%;
    bottom: 28%;
  }
  .heroSection_tamImg_leftSide_start {
    position: relative;
    right: -22%;
    bottom: 60%;
    z-index: 10;
  }
  .heroSection_bgGrandient_img {
    width: auto;
    position: relative;
    left: 20%;
    bottom: 11%;
  }
  .hero_section_mobileOrder {
    position: relative;
  }
  .heroSection_Mobile_imgsFlex {
    display: flex;
    position: absolute;
    top: -21%;
    right: 20%;
  }
  .heroSection_mobile_img_01 {
    position: absolute;
    right: 30%;
    z-index: 3;
    bottom: 25%;
    width: 260px;
  }
  .heroSection_mobile_img_02 {
    position: absolute;
    left: 34%;
    z-index: 2;
    bottom: 11%;
    width: 260px;
  }
  .heroSection_mobile_img_03 {
    position: relative;
    left: 49%;
    bottom: 7%;
    z-index: 1;
    width: 260px;
  }
  .hero_section_circleBg {
    position: relative;
    right: -10%;
    top: -54%;
    width: 445px;
  }
  .heroSection_mobileBg_GrandiantImg {
    position: absolute;
    bottom: 50%;
    right: 28%;
    z-index: 0;
    width: 265px;
  }
}
@media (max-width: 480px) {
  .hero_section_main {
    display: grid;
    /* flex-direction: column; */
    /* align-items: center; */
    height: 1090px;
    max-width: 480px;
  }
  .hero_section_content {
    position: relative;
    left: 0%;
  }
  .heroSection_text_bg {
    position: relative;
    bottom: 32%;
    left: 5%;
    width: 90%;
  }
  .heroSection_text_bg h2 {
    font-size: 40px;
    width: auto;
    line-height: 50px;
    font-weight: 700;
  }
  .heroSection_text_bg p {
    font-size: 14px !important;
    width: 95%;
    margin-top: 5px;
  }
  .heroSection_GetStarted {
    position: relative;
    display: flex;
    gap: 5%;
    left: 5%;
    width: 340px;
    bottom: 29%;
  }

  .hero_section_mobileOrder_start01 {
    position: relative;
    left: 81%;
    /* bottom: 148%; */
  }
  .hroSection_TapImg {
    width: 350px;
    position: relative;
    bottom: 27%;
    left: 6%;
  }
  .heroSection_tamImg_rightSide_start {
    position: relative;
    left: 38%;
    bottom: 24%;
  }
  .heroSection_tamImg_leftSide_start {
    position: relative;
    right: -22%;
    bottom: 60%;
    z-index: 10;
  }
  .heroSection_bgGrandient_img {
    width: auto;
    position: relative;
    left: 20%;
    bottom: 10%;
    width: 310px;
  }
  .hero_section_mobileOrder {
    position: relative;
  }
  .heroSection_Mobile_imgsFlex {
    display: flex;
    position: absolute;
    top: -15%;
    right: 33%;
  }
  .heroSection_mobile_img_01 {
    position: absolute;
    right: 28%;
    z-index: 3;
    bottom: 25%;
    width: 200px;
  }
  .heroSection_mobile_img_02 {
    position: absolute;
    left: 27%;
    z-index: 2;
    bottom: 11%;
    width: 200px;
  }
  .heroSection_mobile_img_03 {
    position: relative;
    left: 49%;
    bottom: 7%;
    z-index: 1;
    width: 200px;
  }
  .hero_section_circleBg {
    position: relative;
    right: -6%;
    top: -46%;
    width: 83%;
  }
  .heroSection_mobileBg_GrandiantImg {
    position: absolute;
    bottom: 55%;
    right: 33%;
    z-index: 0;
    width: 207px;
  }
}
@media (max-width: 390px) {
  .hero_section_main {
    display: grid;
    /* flex-direction: column; */
    /* align-items: center; */
    height: 1020px;
    max-width: 390px;
  }
  .hero_section_content {
    position: relative;
    left: -4%;
  }
  .heroSection_text_bg {
    position: relative;
    bottom: 34%;
    left: 8%;
    width: 90%;
  }
  .heroSection_text_bg h2 {
    font-size: 35px;
    width: auto;
    line-height: 44px;
    font-weight: 700;
  }
  .heroSection_text_bg p {
    font-size: 13px !important;
    width: 95%;
    margin-top: 5px;
  }
  .heroSection_GetStarted {
    position: relative;
    display: flex;
    gap: 5%;
    left: 8%;
    width: 270px;
    bottom: 32%;
  }
  .heroSection_GetStarted .get_started {
    padding: 8px 12px !important;
    font-size: 14px;
  }

  .hero_section_mobileOrder_start01 {
    position: relative;
    left: 81%;
    /* bottom: 160%; */
  }
  .hroSection_TapImg {
    width: 285px;
    position: relative;
    bottom: 34%;
    left: 10%;
  }
  .heroSection_tamImg_rightSide_start {
    position: relative;
    left: 22%;
    bottom: 28%;
  }
  .heroSection_tamImg_leftSide_start {
    position: relative;
    right: -22%;
    bottom: 60%;
    z-index: 10;
  }
  .heroSection_bgGrandient_img {
    width: auto;
    position: relative;
    left: 7%;
    bottom: 7%;
    width: 290px;
  }
  .hero_section_mobileOrder {
    position: relative;
  }
  .heroSection_Mobile_imgsFlex {
    display: flex;
    position: absolute;
    top: -25%;
    right: 30%;
  }
  .heroSection_mobile_img_01 {
    position: absolute;
    right: 26%;
    z-index: 3;
    bottom: 25%;
    width: 190px;
  }
  .heroSection_mobile_img_02 {
    position: absolute;
    left: 24%;
    z-index: 2;
    bottom: 11%;
    width: 190px;
  }
  .heroSection_mobile_img_03 {
    position: relative;
    left: 49%;
    bottom: 7%;
    z-index: 1;
    width: 190px;
  }
  .hero_section_circleBg {
    position: relative;
    right: -11%;
    top: -58%;
    width: 85%;
  }
  .heroSection_mobileBg_GrandiantImg {
    position: absolute;
    bottom: 56%;
    right: 28%;
    z-index: 0;
    width: 207px;
  }
}
@media (max-width: 320px) {
  .heroSection_text_bg h2 {
    font-size: 30px;
    width: auto;
    line-height: 40px;
    font-weight: 700;
  }
  .hero_section_mobileOrder_start01 {
    position: relative;
    left: 77%;
    bottom: 160%;
  }
  .heroSection_Mobile_imgsFlex {
    display: flex;
    position: absolute;
    top: -40%;
    right: 30%;
  }
  .heroSection_mobile_img_01 {
    position: absolute;
    right: 14%;
    z-index: 3;
    bottom: 25%;
    width: 190px;
  }
  .hero_section_circleBg {
    position: relative;
    right: -15%;
    top: -74%;
    width: 85%;
  }
  .heroSection_tamImg_leftSide_start {
    position: relative;
    right: -9%;
    bottom: 70%;
    z-index: 10;
  }
  .heroSection_mobileBg_GrandiantImg {
    position: absolute;
    bottom: 62%;
    right: 16%;
    z-index: 0;
    width: 207px;
  }
}
