.fullCustomizable_Uifry_grandiant {
  position: absolute;
  z-index: 0;
  right: 4%;
  top: 14%;
}
.fullCustomizable_uifry_TriCircle {
  position: absolute;
  z-index: 2;
  top: -5%;
}
.CustomizableUifryMobileView {
  position: relative;
  z-index: 3;
  width: 210px;
  left: 24%;
}
.whyChoose_uifry_content {
}
.customizeOnHold {
  position: absolute;
  top: 21%;
  z-index: 4;
  right: 22%;
  width: 215px;
}
@media (max-width: 1024px) {
  .fullCustomizable_Uifry_grandiant {
    position: absolute;
    z-index: 0;
    right: -4%;
    top: 10%;
  }
  .fullCustomizable_uifry_TriCircle {
    position: absolute;

    z-index: 2;
    top: 0%;
  }
  .CustomizableUifryMobileView {
    position: relative;
    z-index: 3;
    width: 192px;
    left: 24%;
  }
  .whyChoose_uifry_content {
  }

  .customizeOnHold {
    position: absolute;
    top: 24%;
    z-index: 4;
    right: 25%;
    width: 169px;
  }
}
@media (max-width: 960px) {
  .fullCustomizable_Uifry_grandiant {
    position: absolute;
    z-index: 0;
    right: -5%;
    top: 8%;
  }
  .fullCustomizable_uifry_TriCircle {
    position: absolute;

    z-index: 2;
    top: 0%;
  }
  .CustomizableUifryMobileView {
    position: relative;
    z-index: 3;
    width: 192px;
    left: 24%;
  }
  .whyChoose_uifry_content {
  }

  .customizeOnHold {
    position: absolute;
    top: 24%;
    z-index: 4;
    right: 26%;
    width: 167px;
  }
}
@media (max-width: 768px) {
  .fullCustomizable_Uifry_grandiant {
    position: absolute;
    z-index: 0;
    right: -5%;
  }
  .fullCustomizable_uifry_TriCircle {
    position: absolute;

    z-index: 2;
    top: -5%;
  }
  .CustomizableUifryMobileView {
    position: relative;
    z-index: 3;
    width: 185px;
    left: 24%;
  }
  .whyChoose_uifry_content {
  }

  .customizeOnHold {
    position: absolute;
    top: 24%;
    z-index: 4;
    right: 28%;
    width: 160px;
  }
}
@media (max-width: 390px) {
  .fullCustomizable_Uifry_grandiant {
    position: absolute;
    z-index: 0;
    right: 6%;
  }
  .fullCustomizable_uifry_TriCircle {
    position: absolute;

    z-index: 2;
    top: -5%;
  }
  .CustomizableUifryMobileView {
    position: relative;
    z-index: 3;
    width: 169px;
    left: 24%;
  }
  .customizeOnHold {
    position: absolute;
    top: 23%;
    z-index: 4;
    right: 23%;
    width: 160px;
  }
}
