@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Clash+Display:wght@400;700&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: rgb(88, 82, 82);
  /* font-family: "Clash Display"; */
}
