@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Clash+Display:wght@200;300;400;500;600;700&display=swap");
/* @font-face {
  font-family: "Clash Display";
  src: url("/fonts/ClashDisplay/ClashDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
} */
body {
  margin: 0;
  padding: 0;
  background-color: rgb(88, 82, 82);
  /* font-family: "Clash Display", sans-serif; */
}
